.section {
    text-align: center;
    overflow: hidden;
}

.wrap {
    width: auto;
    height: 100%;
    /*background-color: #2ba5bb;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box {
    text-align: left;
    height: 100%;
    font-size: 1.2em;
    line-height: 1.6em;
    margin-top: 110px;
    margin-left: 10px;
}

.section h1 {
    display: block;
    font-size: 2em;
    font-family: "microsoft yahei", arial, serif;
    color: #3f3f3f;
    margin: 0, 0, 20px, 0;
    padding: 0;
}

.section .item {
    text-align: left;
    line-height: 1.6em;
    color: #3f3f3f;
    font-size: 1.2em;
}