body {
  font-family: 'microsoft yahei', Arial, sans-serif;
}

.shadow {
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.section {
  color: whitesmoke;
}

.section .wrap {
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 80%;
  position: relative;
}

.section .wrap .left {
  order: 1;
  -webkit-order: 1;
  flex: auto;
  -webkit-flex: auto;
  float: left;
  height: auto;
  width: 50%;
}

.section .wrap .right {
  order: 1;
  -webkit-order: 1;
  flex: auto;
  -webkit-flex: auto;
  float: right;
  height: auto;
  width: 50%;
}

.section h1 {
  display: block;
  font-size: 2em;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.layout-transparent {
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}
