body {
  font-family: 'microsoft yahei', Arial, sans-serif;
}

.shadow {
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.section {
  color: whitesmoke;
}

.section .wrap {
  width: 100%;
  height: 80%;
  position: relative;
}

.section .wrap .left {
  width: 50%;
  float: left;
}

.section .wrap .right {
  width: 50%;
  float: right;
}

.section h1 {
  display: block;
  font-size: 2em;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.layout-transparent {
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  color: white;
}
