<div>
  <div class="avatar">
<!--    <i class="material-icons md-48">home</i>
    <i class="material-icons">work</i>-->
    <img style="border-radius:50px;" src="images/avatar.png"/>
<!--    <i class="material-icons">home</i>
    <i class="material-icons">work</i>-->
  </div>
  <div class="left">
    <h1>Profile</h1>

    <p><i class="material-icons">face</i>{{cv.profile.nickName}}</p>

    <p><i class="material-icons">alarm</i>{{cv.profile.email}}</p>

    <p><i class="material-icons">description</i>{{cv.profile.location}}</p>
  </div>
  <div class="right">
    <h1>Summary</h1>

    <p>{{cv.summary}}</p>
  </div>
</div>
